{% load static %}
{% load jar_extras %}
<link rel="stylesheet" type="text/css" href="{% static 'jar/style.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,800;0,900;1,200;1,300;1,400;1,800;1,900&display=swap" rel="stylesheet">

<div class = "container-fluid intro">
    <div class = "flex_container">
        <div class = "usercolumn " >
            <h1> RARA: "DOUCHE JAR" </h1>
                <div class = "user_set">
                    {% if users %}
                        {% for user in users %}

                                <div class = "user">
                                    <a href = "{% url 'base_user' user.id %}">
                                    <h3> {{ user.name|upper }} </h3>
                                    <img class = "profile" src = {{user.photo_url}} />
                                   </a>
                                    <h4> JARS: </h4>
                                    <ul class = "jarlist">
                                        {% for jar in user.jar_set.all %}
                                            <li> <a href= "{% url 'user_jar' user.id jar.id %}" > {{jar.name}} - {{jar.current_balance|format_dollar}} </a> </li>
                                        {% endfor %}
                                    </ul>

                                </div>
                        {% endfor %}
                    {% else %}
                        <p>No users are available.</p>
                    {% endif %}
                </div>
        </div>
        <div class = "formsection ">
            <h1> Report a Penalty </h1>
            {% if submitted %}
                <h3> Submission Successful!</h3>
            {% endif %}
            <form action = "{% url 'index' %}" method = "post">
            {% csrf_token %}
            {% if form %}
                <table class = "table">
                        {{form.as_table}}
                </table>
                <input type = "submit" class = "submit" value = "Submit">
            {% endif %}
            </form>

        </div>

    </div>

</div>
